.git
.gitignore
node_modules
vendor
android
storage/framework/cache/data
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
documentacion
*.apk
*.jar
*.log
.env
.env.backup
.env.production
tests